# ----------------------
# Global
# ----------------------
*.log
*.tmp
*.swp
.DS_Store
.env
.env.*

# ----------------------
# Flutter / Dart
# ----------------------
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
android/.gradle/
android/local.properties


# ----------------------
# Python / FastAPI
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/
dist/
build/
*.egg-info/

# ----------------------
# PostgreSQL / DB init
# ----------------------
*.sql~        # kopie zapasowe
*.dump
